.articles-container {
  width: 100%;
  display: grid;
  margin-top: 1rem;
  grid-template-columns: repeat(auto-fill, 25.25rem);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 10rem;
}

@media screen and (max-width: 895px) {
  .articles-container {
    grid-template-columns: repeat(auto-fill, 350px);
  }
}

@media screen and (max-width: 768px) {
  .articles-container {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}

@media screen and (max-width: 619px) {
  .articles-container {
    display: flex;
    flex-wrap: wrap;
  }
}
.card_container_article_T {
  width: 100%;
  max-height: 19rem;
  height: 19rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .card_container_article_T {
    max-height: 21.5rem;
    height: 21.5rem;
  }
}
.card_container_article_T img {
  width: 100%;
}

.article-card {
  position: relative;

  width: 25.25rem;
  max-height: 29rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.501);
  padding: 0 0 15px 0;
  perspective: 5000px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0rem 0rem 0rem 0rem #ffff;
}
.article-card:hover {
  transform: translateY(-1rem);
  box-shadow: 0rem 0rem 1rem 0.1rem rgba(199, 199, 199, 0.7921568627);
}
@media screen and (max-width: 768px) {
  .article-card {
    max-height: none;
  }
}

.article-card span {
  opacity: 0;
  position: relative;
  transform: scale(5);
  transform-origin: top center;
  transform: scale(5);
}

.article-card-image {
  width: 100%;
  opacity: 0;
  transform: scale(2);
}

.article-card-category,
.article-card-title,
.article-card-author {
  display: flex;
  flex-wrap: wrap;
}

.article-card-category {
  font-family: Open sans;
  font-weight: lighter;
  font-size: 14px;
  margin: 10px 0 5px 15px;
}

.article-card-category span.space {
  width: 1.4px;
}

.article-card-title {
  width: 100%;
  padding: 5px 15px 0 15px;
  font-family: arial, Playfair display;
  font-size: 28px;
  font-weight: bold;
  margin-top: 0.3rem;
  min-height: 3rem;
}

.article-card-title span.space {
  width: 5.6px;
}

.article-card-author {
  font-family: Open sans;
  font-size: 14px;
  margin: 10px 15px 0 15px;
}

.article-card-author span.space {
  width: 2.8px;
}

@media screen and (max-width: 895px) {
  .article-card {
    width: 350px;
  }
}

@media screen and (max-width: 768px) {
  .article-card {
    width: 100%;
  }
}

@media screen and (max-width: 619px) {
  .article-card {
    width: 100%;
  }

  .article-card-title {
    height: auto;
  }
}
