.gallery-card {
  position: relative;
  overflow: hidden;
}

.gallery-slider {
  position: relative;
  left: 0;
  display: flex;
  overflow-x: hidden;
  height: 100%;
}

.gallery-card-image {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
