@font-face {
  font-family: Poppins_L;
  src: url(../../assets/fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: Poppins_B;
  src: url(../../assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: Sora_L;
  src: url(../../assets/fonts/Sora-Light.ttf);
}
@font-face {
  font-family: Sora_R;
  src: url(../../assets/fonts/Sora-Regular.ttf);
}
:root {
  --text-basic-color: rgb(247, 247, 247);
  --text-bold-color: rgb(255, 255, 255);
  --primary-color: #08867e;
  --primary-color-hovered: #04635d;
  --secondary-color: rgb(148, 146, 146);
  --button-entrance-bg: #155380;
  --button-entrance-bg-hovered: #0b4065;
  --inactive-link-color: rgba(187, 183, 183, 0.803);
  --active-link-color: rgb(0, 213, 145);
  --input-bg: #272727;
  --bg_color: #1b1b1b;
  --box-shadow: #545050;
  --box-shadow-hovered: #666666;
  --scroll-bars-animation: 2%;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
  transition: all 0.2s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: var(--bg_color);
  transition: background-color 0.2s ease-in-out;
}

.unmoved {
  overflow: hidden;
}

* {
  box-sizing: border-box;
  font-family: Poppins_L;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
  width: 4px;
  height: 4px;
  opacity: 0;
}

::-webkit-scrollbar-track {
  background-color: rgb(234, 233, 233);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 1rem;
}

::-moz-selection {
  background-color: #005f73;
  color: #ffffff;
}

::selection {
  background-color: #005f73;
  color: #ffffff;
}

button {
  padding: 0.5rem 0.9rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  background: var(--primary-color);
  font-size: 0.92rem;
  color: var(--text-basic-color);
  transition: all 0.2s ease-in-out;
}
button:hover {
  background: var(--primary-color-hovered);
}

#hider {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5;
  top: 0;
  left: 0;
  transition: all 0.28s ease-in-out;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
#hider .default_hider_container {
  position: absolute;
  left: 50%;
  z-index: 6;
  top: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  max-height: 95vh;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  animation: show_default 0.4s cubic-bezier(0.14, 0.49, 0.25, 1);
}
@media (max-width: 768px) {
  #hider .default_hider_container {
    width: auto;
  }
}
#hider .full_hider_container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 4rem 0 0 0;
  bottom: 0%;
  background: var(--bg_color);
  z-index: 6;
  width: 99vw;
  height: 94vh;
  max-height: 94vh;
  overflow: scroll;
  padding: 3rem 2rem;
  transition: all 0.2s ease-in-out;
  animation: show_up_hider_full 0.5s cubic-bezier(0.14, 0.49, 0.25, 1.01);
}
@media (max-width: 768px) {
  #hider .full_hider_container {
    padding: 2.5rem 1.4rem;
  }
}
@media (max-width: 576px) {
  #hider .full_hider_container {
    width: 100vw;
    padding: 2rem 0.8rem;
  }
}
#hider .full_hider_container .logo_icon {
  stroke: var(--text-basic-color);
}
#hider .small_hider_container {
  position: absolute;
  left: 50%;
  top: 47%;
  z-index: 6;
  transform: translate(-50%, -50%);
  border-radius: 2rem 2rem 0 0;
  background: #ffffff;
  border-radius: 0.5rem;
  max-height: 95vh;
  transition: all 0.2s ease-in-out;
  overflow: scroll;
  padding: 1rem;
  animation: show_up_pop_up 0.3s cubic-bezier(0.14, 0.49, 0.25, 1.21);
}
@media (max-width: 768px) {
  #hider .small_hider_container {
    width: 85%;
  }
}
#hider .closer_btn_hider {
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: flex;
  z-index: 2;
  align-items: center;
  transition: all 0.2s ease-in-out;
  justify-content: center;
}
#hider .closer_btn_hider:hover {
  animation: scale-up-btn 0.4s ease-in-out;
}
#hider .closer_btn_hider img {
  width: 100%;
  height: 100%;
}
#hider .slide-out {
  transform: translate(-50%, 100%);
}

.slide-out {
  opacity: 0 !important;
}

@keyframes scale-up-btn {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes show_default {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show_up_hider_full {
  0% {
    transform: translate(-50%, 100%);
  }
  100% {
    transform: translate(-50%, 0%);
  }
}
@keyframes show_up_pop_up {
  0% {
    transform: translate(5%, 50vh) scale(0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
#loaderScreen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(255, 255, 255, 0.7725490196);
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  transition: all 0.4s ease-in-out;
}
#loaderScreen .squareRotate {
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  margin-top: -4rem;
  border: 0.25rem solid #0d3b40;
  position: relative;
  opacity: 0;
  transform: all 0.2s ease-in-out;
  animation: rotate_square 4s ease-in-out infinite;
}
@media (max-width: 768px) {
  #loaderScreen .squareRotate {
    width: 4rem;
    height: 4rem;
  }
}
@media (max-width: 576px) {
  #loaderScreen .squareRotate {
    width: 3rem;
    height: 3rem;
  }
}
#loaderScreen .squareRotate::before {
  content: "";
  position: absolute;
  width: 110%;
  left: 50%;
  transform: translateX(-50%);
  height: 0%;
  background: #0d3b40;
  box-shadow: 0 0 0.2rem 0.1rem #0d3b40;
  animation: fill_up_down 4s ease-in-out infinite;
}
#loaderScreen .visible {
  opacity: 1;
}

@keyframes rotate_square {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(360deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes fill_up_down {
  0%, 25%, 100% {
    height: 0%;
    transform: translateX(-50%);
  }
  50%, 75% {
    height: 100%;
  }
}
.cleanScreen {
  opacity: 0.2;
  transform: translateY(-100%);
}/*# sourceMappingURL=all.css.map */